{{ define "index" }}
{{ template "header" }}
{{ range .Posts }}
<article class="post post-list">
    <div class="meta">
        <div class="date">
            <time>{{ .Meta.Date.Format "Jan 02, 2006" }}</time>
        </div>
    <div class="comment">
        <a href="/post/{{.Slug}}.html#comments">0 Comments</a></div>
    </div>
    <h1 class="title">
        <a href="/post/{{.Slug}}.html">{{.Meta.Title}}</a>
    </h1>
    <div class="entry-content">
        <p>{{ .Meta.Description }}[...]</p>
        <p><a href="/post/{{.Slug}}" class="more-link">READ MORE &raquo;</a></p>
    </div>
</article>
{{ end }}
<nav class="page-navi">
    {{if gt .PageNow 1}}
        <a href="/page/{{ dec .PageNow }}" class="prev">&laquo; Prev</a>
    {{end}}
    {{if lt .PageNow .PageMax}}
        <a href="/page/{{ inc .PageNow }}" class="next">Next &raquo;</a>
    {{end}}
    <div class="center">
        <a href="/archives.html">Archive</a>
    </div>
</nav>
{{ template "footer" }}
{{ end }}